{% extends "components/base.html" %}

{% block title_tag %}
{{ post.title }}
{% endblock title_tag %}

{% block meta %}
<meta property="og:title" content="{{ post.title }}">
<meta property="og:type" content="article">
<meta property="og:image" content="{{ config.SITE_URL }}{{ post.image }}">
<link rel="canonical" href="{{ config.SITE_URL }}/posts/{{ post.slug }}/">
{% endblock meta %}

{% block content %}
<article class="post">
    <header>
        <h1 class="post-title">{{ post.title }}</h1>
        <span class="post-date">
            <small><a href="/categories/{{ post.category.slug }}/">{{ post.category.name }}</a> -
                <time datetime="{{ post.date }}">{{ post.date.strftime('%a, %b %d, %Y') }}</time>
            </small>
        </span>
    </header>

    <div class="article-content">
        {{ post.content | safe }}
    </div>
</article>
{% endblock content %}